<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is your booklist!</h1>
    <% if (books.length !== 0) { %>
        <% books.forEach((b) => { %>
            <ul>
                <li>Title: <%= b.title %> </li>
                <li>Read: <%= b.read ? "read" : "not read" %> </li>
                <li><a href="/books/<%= b._id %>">Details</a></li>
                <li>
                    <form action="/books/<%= b._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                </li>
            </ul>
    <% }); %>
    <% } else { %>
            <h3>There are no books</h3>
        <% }; %>

        <form action="/books" method="POST">
            <input type="text" name="title" required placeholder="Please write your book title">
            <label>Read?</label>
            <input type="checkbox" name="read">
            <button type="submit">ADD BOOK</button>
        </form>
                <br>
            <a href="/">Home page</a>
</body>
</html>
